[submodule "xmarts/branch"]
	path = xmarts/branch
	url = git@github.com:xmarts/branch.git
	branch = 15.0

[submodule "xmarts/branch-accounting-report"]
	path = xmarts/branch-accounting-report
	url = git@github.com:xmarts/branch-accounting-report.git
	branch = 15.0
[submodule "ieps_calculation"]
	path = ieps_calculation
	url = git@github.com:xmarts/ieps_calculation.git
